@model ExportPDF.WebSample.Models.TypographyModel

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>
    @await Html.PartialAsync("_TypographyPartial", Model)
</body>
</html>
